.page-header {
    border-bottom: 1px solid $header-border;
}

.header-container {
    @include centeredFlex();
}

.navigation {
    @include centeredFlex();
}

.navigation-list {
    display: flex;
    margin-left: 93px;
}

.navigation-list__item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color-darkgrey;
    transition: color $transition-time;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.current {
    color: $accent-color;
}

.current {
    position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: 0;
            border-radius: 2px;
            background-color: $accent-color;
        }
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list__link {
    @include centeredFlex();
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color-grey;
    transition: color $transition-time;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.contacts-list__item:not(:last-child) {
    margin-right: 50px;
}

.contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
}