.page-header {
    position: relative;
    border-bottom: 1px solid $header-border;
    background-color: $primary-white;

    @media screen and (min-width:768px) {
        position: inherit;
    }
}

.menu-container {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    overflow-y: scroll;
    padding: 48px 40px;
    text-align: left;
    background-color: $primary-white;
    z-index: 1;

        @media screen and (min-width:768px) {
            display: block;
            position: inherit;
            @include centeredFlex();
            height: 100%;
            padding: 0;
            overflow: hidden;
            z-index: inherit;
        }

        &.is-open {
            display: flex;
            flex-direction: column;
        }
}

.navigation {
    @include centeredFlex();
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.navigation-list {
    margin-bottom: auto;
    
    @media screen and (min-width:768px){
        display: flex;
        margin-left: 88px;
        margin-bottom:0;
    }
    @media screen and (min-width:1200px){
        margin-left: 93px;
    }
}

.navigation-list__item:not(:last-child) {
    @media screen and (min-width:768px){
        margin-right: 50px;
    }
}

.navigation-list__link {
    display: block;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color-darkgrey;
    transition: color $transition-time;

        &:hover,
        &:focus {
            color: $accent-color;
        }

    @media screen and (min-width:768px){
        padding-top: 32px;
        font-size: 14px;
        line-height: 1.14;
    }
}

.current {
    position: relative;
    color: $accent-color;

        &::after {
            @media screen and (min-width:768px) {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 4px;
                bottom: 0;
                border-radius: 2px;
                background-color: $accent-color;
            }
    }
}

.contacts-list {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;

    @media screen and (min-width:768px) {
        flex-direction: column;
        margin-left: auto;
        margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        margin-left: auto;
    }
}

.contacts-list__link {
    @include centeredFlex();
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color-grey;
    transition: color $transition-time;
    
    @media screen and (min-width:768px){
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and (min-width:1200px){
        align-items: center;
        font-size: 14px;
        line-height: 1.14;
    }

        &:hover,
        &:focus {
            @media screen and (min-width:768px) {
                color: $accent-color;
            }
        }
    
}


.contacts-list__item:not(:last-child) {
    margin-top: 32px;

        @media screen and (min-width:768px){
            margin-top: 0;
            margin-bottom: 10px;
        }

        @media screen and (min-width:1200px){
            margin-bottom: 0;
            margin-right: 50px;
        }
}

@media screen and (max-width:767px){
.contacts-list__phone {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
    @media screen and (max-width:479px){
        font-size:30px;
    }
}
.contacts-list__email {
    font-size: 24px;
    line-height: 1.17;
    padding-bottom:0;
}
}

.contacts-list__icon {
    display: none;

    @media screen and (min-width:768px){
        display: inline-block;
        margin-right: 10px;
        fill: currentColor;
    }
    
}
.navigation__menu-button {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    color: $text-color-darkgrey;
    background-color: transparent;

    @media screen and (min-width:768px) {
        display:none;
    }

    .menu-container & {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}
.navigation__menu-icon,
.navigation__cross-icon {
    fill: currentColor;
    transition: fill $transition-time;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.socials-mob {
    @include centeredFlex();
    @media screen and (max-width:479px) {
        flex-wrap: wrap;
    }
}
.socials-mob__item {    
    &:not(:last-child)::after {
        content: "";
        width: auto;
        height: 22px;
        margin-left: 10px;
        margin-right:10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.socials-mob__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:$accent-color;
}

@media screen and (min-width:768px) {
    .socials-mob,
    .socials-mob__item,
    .socials-mob__link{
        display: none;
    }
}