.section-services {
    display: none;

    @media screen and (min-width:1200px) {
        display: block;
    }
}
.services__title {
    @include sectiionTitle();
}
.services-list {
    display: flex;
    gap: 30px;
}

.services-list__item {
    position: relative;
}

.services-list__label {
    position: absolute;
    bottom: 0;
    left: 0;
    @include centeredFlex();
    justify-content: center;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white;
    background-color: $grey-overlay;
}