@mixin centeredFlex($type:flex,$align:center) {
    display: $type;
    align-items: $align;
}

@mixin sectiionTitle() {
     margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    color: $text-color-darkgrey;
    
    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}