    /*Fonts*/
    $font-rale: 'Raleway', sans-serif;
    $font-roboto: 'Roboto', sans-serif;
    /*General colors*/
    $primary-white: #ffffff;
    $accent-color: #2196F3;
    /*LOGO*/
    $logo-color-header: #000000;
    /*Text colors*/
    $text-color-darkgrey: #212121;
    $text-color-grey: #757575;
    $ftr-address-contacts:rgba(255, 255, 255, 0.6);
    $main-icons-color: #AFB1B8;
    /*Backgrounds*/
    $bg-light-grey: #F5F4FA;
    $hero-bg:#C4C4C4;
    $blue-overlay:rgba(33, 150, 243, 0.9);
    $grey-overlay:rgba(47, 48, 58, 0.8);
    $footer-bg: #2F303A;
    $footer-socials-bg:rgba(255, 255, 255, 0.1);
    $backdrop: rgba(0, 0, 0, 0.2);
    /*Borders*/
    $header-border:#ECECEC;
    $border-light-grey:#EEEEEE;

    /*Transition*/
    $transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);